/* Global Styles */
html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  padding-top: 5px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: top 0.3s ease, height 0.3s ease;
}

.navbar .logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.navbar .logo:hover {
  opacity: 0.7;
}

/* Navbar Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 0.25rem 0.5rem;
  margin: 0;
  transition: background-color 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #e74c3c;
  color: #fff;
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
}

.nav-links-active {
  display: flex;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  background: transparent;
  border: none;
  color: #333;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #e74c3c;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 6rem;
  background: #fff;
  position: relative;
}

.hero-text h1 {
  font-size: 3rem;
  color: #e74c3c;
  margin-bottom: 1rem;
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-right: 2rem;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.5s ease;
}

.hero-image img.hidden {
  opacity: 0;
}

section {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

//* Styling Pop-up */
.skills-popup {
  position: fixed; /* Tetap di layar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang transparan */
  display: none; /* Sembunyikan pop-up secara default */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Pastikan berada di atas konten lain */
}

.skills-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.skills-popup h2 {
  margin-bottom: 20px;
}

.skills-popup .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-popup .skill {
  width: 120px;
  text-align: center;
}

.skills-popup .skill-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skills-popup .stars {
  font-size: 14px;
}

.skills-popup.hidden {
  display: none; /* Sembunyikan pop-up */
}

.skills-popup.visible {
  display: flex; /* Tampilkan pop-up */
}

.cta-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #c0392b;
}

#closeButton {
  margin-top: 20px;
}

/* Call-to-Action Button */
.cta-section {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.cta-button {
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #c0392b;
}

#about-me {
  background-color: #e74c3c; /* Sesuaikan dengan warna yang diinginkan */
  color: #333; /* Warna teks */
  padding: 40px 20px; /* Padding yang lebih besar untuk memberikan ruang */
  display: flex; /* Menggunakan flexbox untuk tata letak */
  flex-direction: column; /* Susun elemen dalam kolom */
  align-items: center; /* Menyejajarkan konten ke tengah */
  text-align: center; /* Teks rata tengah */
}

#about-me h2 {
  font-size: 2.5rem; /* Ukuran font yang lebih kecil agar tidak terlalu besar */
  color: white; /* Warna teks menjadi putih */
  margin-bottom: 20px;
}

#about-me p {
  font-size: 1rem;
  color: white; /* Warna teks putih */
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  max-width: 600px;
}

.about-me img {
  width: 50px; /* Ukuran gambar yang lebih besar agar lebih jelas */
  height: 50px;
  border-radius: 50%; /* Membuat gambar berbentuk bulat */
  margin-top: 20px; /* Memberikan jarak atas pada gambar */
  object-fit: cover; /* Menjaga proporsi gambar */
}
  
/* Portfolio Section */
#portfolio {
  background-color: #ffffff;
  font-size: 40px;
}

#portfolio h1 {
  font-size: 3rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.portfolio-item img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 100px;
}

.portfolio-item h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

/* Social Media Section */
#social-media {
  text-align: center;
  padding: 80px 20px;
  background-color: #e74c3c;
}

#social-media h1 {
  tex-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

#social-media img.profile-photo {
  max-width: 100%;
  width: 150px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10%;
  object-fit: cover;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.social-media-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.social-media-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.social-media-item p {
  font-size: 14px;
  text-align: center;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

@media (max-width: 768px) {
  #skills {
    top: 10vh;  /* Menyesuaikan posisi untuk layar kecil */
    width: 90%;  /* Mengurangi lebar untuk layar kecil */
  }
  
@media (max-width: 768px) {
  #about-me {
    padding: 20px; /* Padding lebih kecil di perangkat mobile */
  }

  #about-me h2 {
    font-size: 2rem; /* Ukuran font lebih kecil */
  }

  #about-me p {
    font-size: 0.9rem; /* Ukuran font lebih kecil */
  }

  .about-me img {
    width: 40px; /* Ukuran gambar lebih kecil */
    height: 40px;
  }
  
  /* Navbar for Mobile */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
 
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
    gap: 5px;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1rem;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links-active {
    display: flex; /* Menampilkan menu ketika tombol hamburger diklik */
  }
  
  .close-button {
    display: block; /* Menampilkan tombol close */
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
  }
  
}
